.chat {
  background: url('/assets/art/spectrum.png') repeat;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
}

.chat input {
  color: #fff;
  font-size: 24px;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: center;
}

.chat ul {
  list-style: none;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
