.canvas_frame {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.canvas_frame > iframe {
  width: 100%;
  height: 100%;
}

/* fix cam capture in iball */
.canvas_frame > video {
  position: absolute;
  visibility: hidden;
}

.art_plaque {
  display: none;
}
